.dados-veiculo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 2rem;
}

.form-veiculo {
  display: flex;
}

.form-veiculo form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-veiculo form label {
  color: #fff;
}

.form-veiculo form input {
  background: no-repeat;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid black;
  color: #fff;
}

.form-veiculo form input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
}

.form-veiculo form input::placeholder {
  color: #fff;
  font-size: 16px;
}

.form-veiculo form button {
  border: none;
  outline: none;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.buttons-veiculo {
  display: flex;
  gap: 10px;
}

.bt-cadastro {
  border: none;
  outline: none;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 10px 20px;
}

.bt-editar {
  padding: 5px 40px;
  border: none;
  background-color: green;
  color: #fff;
  border-radius: 5px;
}

.bt-deletar {
  padding: 5px 40px;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 5px;
}

.bt-info {
  padding: 5px 40px;
  border: none;
  background-color: #2f00ff;
  color: #fff;
  border-radius: 5px;
}

.modal {
  display: none;
}

.modal .button-modal {
  background: none;
  border: none;
  font-size: 30px;
  position: absolute;
  right: 1rem;
  top: 0rem;
  cursor: pointer;
  color: #fff;
}

.modal.active {
  overflow: hidden;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: 100%;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.534);
  align-items: center;
}

.veiculos-div {
  overflow-y: scroll;
  height: 500px;
  width: 100%;
}

.veiculos-div a {
  width: 100%;
}

.veiculos {
  border: 1px solid #b1b1b1;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  cursor: pointer;
}

.veiculos:hover {
  background-color: #ececec;
}

@media (min-width: 320px) and (max-width: 768px) {
  .veiculos {
    font-size: small;
  }
  .buttons-veiculo {
    display: flex;
    gap: 5px;
  }
  .bt-editar {
    padding: 5px 10px;
  }
  .bt-deletar {
    padding: 5px 10px;
  }
}

